<div class="container">
    <br/>
    <div class="card">
    <div class="card-header text-white bg-secondary">
    <!-- L'en-tête ici -->
    <header>Déclarer un problème</header>
    </div>
    <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">Veuillez renseigner les zones suivante et soumettre votre demande</p>
    
 


   
    
    <div class="card-footer">
    <!-- Bouton save avec l'icone ici -->
    <!-- Utiliser la balise suivante pour l’icone SAVE -->
    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> sauvegarder</button>
    
    </div>
    </div>
   </div> 
